<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Procrastinate.</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="icon" type="image" href="../static/images/favicon.ico">
</head>
<body>
  <div class="header">
    <p class="logo">Procrastinate.</p>
    <div class="button">Ещё идея</div>
  </div>

  <img class="image" src="../static/images/TV.png">

  <div class="advice">
    <span>Не писать код, а</span>
    <span class="phrase">что бы поделать?</span>
    <img class="cursor" src="../static/images/cursor.gif">
  </div>

  <p class="footer">© 2021 Made with <span>&#10084;&#65039;</span> by <a href="https://github.com/oleg1995petrov/">Ventz</a></p>
  <script src="../static/js/script.js"></script>
</body>
</html>
